<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap-3.3.7-dist/css/bootstrap.css">

    <script src="/javascripts/jquery-3.4.1.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>

<body>
    <div class="container">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><%= info.title%></h3>
            </div>
            <div class="panel-body">
                <pre><%= info.content%></pre>
            </div>
        </div>

    </div>
</body>

</html>